<div class="container card-realisation-1">
  <div class="card-trip">
    <%= image_tag("clim-silencieuse.jpg", :alt => "clim") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-cassette.jpeg", :alt => "clim") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("dessin-technique.jpg", :alt => "clim") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-murale.jpeg", :alt => "clim") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-console.jpeg", :alt => "clim") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-gainable.jpeg", :alt => "clim") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("living-room-drawing.jpg", :alt => "clim") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag("climatisation-murale.jpeg", :alt => "clim") %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
</div>
