<div class="container card-realisation-1">
  <div class="card-trip">
    <%= image_tag "clim-silencieuse.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2>Fréjus (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-cassette.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël (83)</h2>
        <p>Installation split</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "dessin-technique.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2>Cannes (06)</h2>
        <p>Installation cassette pour magasin pro</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-murale.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2>Sainte-Maxime (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-console.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2>Antibes (06)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-gainable.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2>Draguignan (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "living-room-drawing.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Tropez (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-murale.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2>Lorgues (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
</div>
