<div class="container card-realisation-1">
  <div class="card-trip">
    <%= image_tag "clim-silencieuse.jpg", alt: "Climatisation murale silencieuse installée à Fréjus – David Clim" %>
    <div class="card-trip-infos">
      <div>
        <h2>Fréjus (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-cassette.jpg", alt: "Installation cassette climatisation à Saint-Raphaël pour local professionnel" %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël (83)</h2>
        <p>Installation split</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "dessin-technique.jpg", alt: "Schéma d'installation technique – Projet de climatisation Cannes – David Clim" %>
    <div class="card-trip-infos">
      <div>
        <h2>Cannes (06)</h2>
        <p>Installation cassette pour magasin pro</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-murale.jpg", alt: "Unité murale de climatisation posée à Sainte-Maxime" %>
    <div class="card-trip-infos">
      <div>
        <h2>Sainte-Maxime (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-console.png", alt: "Installation climatisation console dans une maison à Antibes" %>
    <div class="card-trip-infos">
      <div>
        <h2>Antibes (06)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-gainable.png", alt: "Climatisation gainable encastrée à Draguignan – Réalisation David Clim" %>
    <div class="card-trip-infos">
      <div>
        <h2>Draguignan (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "living-room-drawing.jpg", alt: "Projet d'aménagement climatisation à Saint-Tropez – David Clim" %>
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Tropez (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "climatisation-murale.jpg", alt: "Pose climatisation murale performante à Lorgues %>
    <div class="card-trip-infos">
      <div>
        <h2>Lorgues (83)</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
</div>
