<div class="container card-realisation-1">
  <div class="card-trip">
    <%# <%= image_tag("clim-silencieuse.jpg") %>
    <img src="<%= asset_path('clim-silencieuse.jpg') %>" alt="climatisation">
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%# <%= image_tag("climatisation-cassette.jpeg") %>
    <img src="<%= asset_path('climatisation-cassette.jpeg') %>" alt="climatisation">

    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%# <%= image_tag("dessin-technique.jpg") %>
    <img src="<%= asset_path('dessin-technique.jpg') %>" alt="climatisation">

    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%# <%= image_tag("climatisation-murale.jpeg") %>
    <img src="<%= asset_path('climatisation-murale.jpeg') %>" alt="climatisation">

    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%# <%= image_tag("climatisation-console.jpeg") %>
    <img src="<%= asset_path('climatisation-console.jpeg') %>" alt="climatisation">

    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%# <%= image_tag("climatisation-gainable.jpeg") %>
    <img src="<%= asset_path('climatisation-gainable.jpeg') %>" alt="climatisation">
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%# <%= image_tag("living-room-drawing.jpg") %>
    <img src="<%= asset_path('living-room-drawing.jpg') %>" alt="climatisation">
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <%# <%= image_tag("climatisation-murale.jpeg") %>
    <img src="<%= asset_path('climatisation-murale.jpeg') %>" alt="climatisation">
    <div class="card-trip-infos">
      <div>
        <h2>Saint-Raphaël</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
</div>
