<div class="footer-partners" >
    <div class="brands-list">
        <ul>
            <li><%= image_tag "hitachi-logo2.png", alt:"Partenaire Hitachi - Climatisation David Clim à Fréjus" %></li>
            <li><%= image_tag "daikin-logo.png", alt:"Installation de clim Daikin - David Clim Fréjus Saint-Raphaël" %></li>
            <li><%= image_tag "mitsubishi-logo.png", alt:"Climatisation Mitsubishi installée par David Clim (83)" %></li>
            <li><%= image_tag "toshiba-logo.png", alt:"Toshiba - Climatisation professionnelle à Fréjus" %></li>
            <li><%= image_tag "airzone-logo.png", alt:"Airzone - Régulation de climatisation - David Clim" %></li>
            <li><%= image_tag "manipulateur_de_liquides_fluorigenes.png", alt:"Certification manipulation de fluides frigorigènes - David Clim Fréjus" %></li>
            <li><%= image_tag "tetris-assurance.png", alt:"Assurance décennale Tetris - Artisan climatisation Fréjus" %></li>
        </ul>
    </div>
</div>
