<div class="footer-partners" >
    <div class="brands-list">
        <ul>
            <li><%= image_tag "hitachi-logo2.png", alt:"Hitachi logo" %></li>
            <li><%= image_tag "daikin-logo.png", alt:"Daikin logo" %></li>
            <li><%= image_tag "mitsubishi-logo.png", alt:"Mitsubishi logo" %></li>
            <li><%= image_tag "toshiba-logo.png", alt:"Toshiba logo" %></li>
            <li><%= image_tag "airzone-logo.png", alt:"Airzone logo" %></li>
            <li><%= image_tag "manipulateur_de_liquides_fluorigenes.png", alt:"Manipulateur de liquides fluorigenes logo" %></li>
            <li><%= image_tag "tetris-assurance.png", alt:"Tetris assurance logo" %></li>
        </ul>
    </div>
</div>
