<% content_for :meta_title, "David Clim | Installation, Entretien & Dépannage Climatisation à Fréjus" %>
<%# <% content_for :meta_description, "Installation, dépannage, entretien et maintenance de climatisations à Fréjus, Saint-Raphaël et dans le Var. Des experts à votre service pour un air frais toute l’année." %> %>
<% content_for :meta_description, "Spécialiste climatisation à Fréjus, Saint-Raphaël, Var (83) et Alpes-Maritimes (06). Installation, dépannage et entretien de climatisations pour un confort toute l’année." %>
<%# <% content_for :meta_image, image_url("og-installation.jpg") %>

<div class="banner" >
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-transparent home-navbar">
    <div class="container-fluid">
        <div class="info-contact">
            <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo_name.png", alt:"David Clim Fréjus Saint-Raphael Installation Entretien Dépannage Maintenance Climatisation Logo Salutis agence" %>
            <span class="sr-only">Accueil</span> <!-- Texte masqué pour les lecteurs d'écran -->
            <% end %>
            <div class="info">
                <div class="phone-number home-phone">
                    <p>06 11 96 44 86</p>
                </div>
                <div class="quotes">
                    <%= link_to "Demandez un devis", new_contact_path, class: "nav-link" %>
                </div>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentHome" aria-controls="navbarSupportedContentHome" aria-expanded="false" aria-label="Toggle navigation">
            <%# <span class="navbar-toggler-icon"></span> %>
            <input class="checkbox" type="checkbox" name="menuitems" id="menu-items" />
            <div class="hamburger-lines home-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
        </button>

        <div class="collapse navbar-collapse navbar-transparent" id="navbarSupportedContentHome">
            <ul class="navbar-nav home-nav navbar-nav-transparent me-auto">
                <li class="nav-item active">
                    <%= link_to "Accueil", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item active">
                    <%= link_to "Installation", installation_climatisation_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Maintenance <br /> & Entretien".html_safe, maintenance_entretien_climatisation_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Dépannage".html_safe, depannage_climatisation_path, class: "nav-link" %>
                </li>
                <%# <li class="nav-item"> %>
                    <%# <%= link_to "Réalisations", realisation_climatisation_path, class: "nav-link" %>
                <%# </li> %>
                <li class="nav-item">
                    <%= link_to "Contact", new_contact_path, class: "nav-link" %>
                </li>
            </ul>
        </div>
    </div>
</div>

  <div class="banner-text">
    <%# <%= image_tag "salon-clim.jpg" %>
    <h1>
      DAVID CLIM<br>
      <span>Spécialiste de la Climatisation</span>
    </h1>
    <p>_______</p>
    <p>À Fréjus, Saint-Raphaël et ses environs</p>
  </div>
</div>

<div class="title-homepage">
    <p>NOTRE EXPERTISE</p>
    <h3>CHEZ <span style="color: #ad8f60;">DAVID CLIM</span>, VOUS BÉNÉFICIEZ D’UN <span style="color: #ad8f60;">ACCOMPAGNEMENT SUR-MESURE</span> , DU PREMIER RENDEZ-VOUS À LA MISE EN SERVICE DE VOTRE CLIMATISATION.</h3>
    <h3>NOS ÉQUIPES, COMPOSÉES DE FRIGORISTES <span style="color: #ad8f60;">DIPLÔMÉS ET EXPÉRIMENTÉS</span>, INTERVIENNENT AUSSI BIEN CHEZ LES PARTICULIERS QUE DANS LES LOCAUX PROFESSIONNELS.</h3>
    <h3><span style="color: #ad8f60;">INSTALLATION</span>, <span style="color: #ad8f60;">ENTRETIEN</span>, OU <span style="color: #ad8f60;">DÉPANNAGE</span> : NOUS VOUS APPORTONS DES SOLUTIONS FIABLES ET ADAPTÉES À VOS BESOINS SPÉCIFIQUES.</h3>
</div>


<div class="box_one">
    <%# <div class="card_one"> %>
        <%# <div class="img-homepage"> %>
            <%# <%= image_tag "logo.png", alt:"logo david-clim", size:"100x100" %>
        <%# </div> %>
        <%# <div class="text-homepage"> %>
            <%# <p>Notre équipe est réactive et effectue un travail particulièrement minutieux. Notre engagement envers un rapport qualité/prix avantageux garantit une satisfaction client inégalée.</p> %>
            <%# <p>Vous vous demandez probablement ce qui nous distingue de nos concurrents ? Notre métier consiste à vous fournir des conseils personnalisés et à vous accompagner dans toutes les étapes de votre projet.</p> %>
        <%# </div> %>
    <%# </div> %>
    <%# <div class="card_two"> %>
        <%# <%= image_tag "air-conditioner-1.png", alt:"Unité intérieure climatisation david clim" %>
    <%# </div> %>
  <div class="container1">
    <%# <div class="card_three"> %>
        <%# <%= image_tag "air-conditioner-2.png", alt:"Unité extérieure moteur climatisation david clim" %>
    <%# </div> %>
    <div class="card_four">
        <div class="list-advantages">
            <h2>Les avantages de la Climatisation</h2>
              <ul>
                  <li>
                      <div class="list-advantages-desc">
                          <h3>Confort</h3>
                          <p>Diffusion optimale de la chaleur et de la fraîcheur, maintenant ainsi une température idéale dans votre habitat.</p>
                      </div>
                  </li>
                  <li>
                      <div class="list-advantages-desc">
                          <h3>Économie d'énergie</h3>
                          <p>Un système économe en énergie réduit la consommation tout en préservant l'environnement.</p>
                      </div>
                  </li>
                  <li>
                      <div class="list-advantages-desc">
                          <h3>Qualité d'air amélioré</h3>
                          <p>Une gestion efficace de l'air assure un filtrage des allergènes et des polluants, favorisant ainsi un environnement intérieur frais et sain.</p>
                      </div>
                  </li>
                  <li>
                      <div class="list-advantages-desc">
                          <h3>Contrôle de l'humidité</h3>
                          <p>La régulation précise de l'humidité assure un confort optimal tout en préservant la santé de votre intérieur.</p>
                      </div>
                  </li>
              </ul>
                <%# <p>Lors de cette première rencontre, nous établissont une étude sur la concrétisation de votre projet de climatisation. Ainsi, vous restez maître de vos envies, tout en ayant une analyse climatique professionnelle sur laquelle vous appuyer.</p> %>
                <%# <p>De cette manière, nous garantissons un environnement à faible consommation d'énergie grâce à DAVID CLIM, pour une atmosphère intérieure idéale !</p> %>
            </div>
    </div>
  </div>
</div>


<div class="block-quality">
    <div class="text-quality">
        <h2>La qualité David Clim</h2>
    </div>
    <div class="container medal">
        <div class="location">
            <%= image_tag "medal-location.png", alt:"Technicien David Clim à Fréjus – proximité et intervention locale rapide"%>
            <p>Proche de chez vous</p>
        </div>
        <div class="estimation">
            <%= image_tag "medal-estimation.png", alt:"Devis climatisation gratuit à Fréjus avec David Clim" %>
            <p>Devis gratuit</p>
        </div>
        <div class="car">
            <%= image_tag "medal-car.png", alt:"Véhicule d’intervention climatisation David Clim à Fréjus" %>
            <p>Prêt à intervenir</p>
        </div>
        <div class="warranty">
            <%= image_tag "medal-warranty.png", alt:"Garantie décennale – Installation climatisation David Clim" %>
            <p>Assurance décennale</p>
        </div>
        <div class="sav">
            <%= image_tag "medal-sav.png", alt:"Service après-vente réactif – dépannage clim Fréjus" %>
            <p>Un S.A.V. rapide</p>
        </div>
        <div class="service">
            <%= image_tag "medal-maintenance.png", alt:"Maintenance et entretien de climatisation David Clim à Fréjus"%>
            <p>Un service dédié à l'entretien et au dépannage</p>
        </div>
    </div>
</div>
<div class="map">
  <iframe title="Fréjus David Clim", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2897.3250171319096!2d6.731809203459973!3d43.432927492406215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cebd4e5b347a01%3A0x78f59d48472caffe!2sPlace%20Camille%20Formig%C3%A9%2C%2083600%20Fr%C3%A9jus!5e0!3m2!1sfr!2sfr!4v1690479450216!5m2!1sfr!2sfr" width="100%" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <%# <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1cTlbvOA32850mI4Ke42Avg_1lMqCYWE&ehbc=2E312F" width="100%" height="480"></iframe> %>
</div>


<%= render 'shared/partners' %>
<%= render 'shared/btn_footer_contact' %>
