<div class="banner">
    <%# <%= image_tag "salon-clim.jpg" %>
</div>
<div class="title-homepage">
    <h2>DAVID CLIM : entreprise de climatisation à Fréjus & ses alentours</h2>
    <p><strong>David Clim</strong> est une entreprise spécialisée dans la climatisation. Notre équipe de frigoristes diplômés d’État intervient auprès des particuliers comme des professionnels basés sur Fréjus et ses alentours. Qu’il s’agisse de <strong>l’installation, de la maintenance ou du dépannage de votre climatisation</strong>, David Clim est apte à intervenir chez vous.</p>
</div>
<div class="card-homepage">
    <div class="box_one">
        <div class="card_one">
            <div class="img-homepage">
                <%= image_tag "snowflake-white.png" %>
            </div>
            <div class="text-homepage">
                <p>Notre équipe est réactive et effectue un travail particulièrement minutieux. Le bon rapport qualité/prix de nos prestations nous apporte une satisfaction clients non négligeable.</p>
                <p>Vous vous demandez sûrement ce qui nous différencie de nos concurrents ? C’est notre métier de vous conseiller, de vous accompagner dans l’élaboration de votre projet, en venant vous rendre visite gratuitement.</p>
            </div>
        </div>
        <div class="card_two">
            <%= image_tag "air-conditioner-1.png" %>
        </div>
        <div class="card_three">
            <%= image_tag "air-conditioner-2.png" %>
        </div>
        <div class="card_four">
            <div class="img-homepage">
                <%= image_tag "air-conditioner-white.png" %>
            </div>
            <div class="text-homepage">
                <p>Lors de cette première rencontre, nous établissont une étude sur la concrétisation de votre projet de climatisation. Ainsi, vous restez maître de vos envies, tout en ayant une analyse climatique professionnelle sur laquelle vous appuyer.</p>
                <p>De cette manière, nous vous assurons un logement à basse consommation d’énergie : DAVID CLIM, pour un climat parfait !</p>
            </div>
        </div>
    </div>
</div>
<div class="block-quality" style="z-index: 2">
    <div class="text-quality">
        <h2>La qualité David Clim</h2>
    </div>
    <div class="container medal">
        <div class="location">
            <%= image_tag "medal-location.png" %>
            <p>Proche de chez vous</p>
        </div>
        <div class="estimation">
            <%= image_tag "medal-estimation.png" %>
            <p>Devis gratuit</p>
        </div>
        <div class="car">
            <%= image_tag "medal-car.png" %>
            <p>Prêt à intervenir</p>
        </div>
        <div class="warranty">
            <%= image_tag "medal-warranty.png" %>
            <p>Assurance décennale</p>
        </div>
        <div class="sav">
            <%= image_tag "medal-sav.png" %>
            <p>Un S.A.V. rapide</p>
        </div>
        <div class="maintenance">
            <%= image_tag "medal-maintenance.png" %>
            <p>Un service dédié à l'entretien et au dépannage</p>
        </div>
    </div>
</div>
<div class="map" style="z-index: 1">
  <%# <iframe src="https://www.google.com/maps/d/u/0/edit?mid=1cTlbvOA32850mI4Ke42Avg_1lMqCYWE&usp=sharing" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> %>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1cTlbvOA32850mI4Ke42Avg_1lMqCYWE&ehbc=2E312F" width="100%" height="480"></iframe>
</div>
<div class="footer-partners" >
    <div class="brands-list">
        <ul>
            <li><%= image_tag "hitachi-logo2.png" %></li>
            <li><%= image_tag "daikin-logo.png" %></li>
            <li><%= image_tag "mitsubishi-logo.png" %></li>
            <li><%= image_tag "toshiba-logo.png" %></li>
            <li><%= image_tag "airzone-logo.png" %></li>
            <li><%= image_tag "manipulateur_de_liquides_fluorigenes.png" %></li>
            <li><%= image_tag "tetris-assurance.png" %></li>
        </ul>
    </div>
</div>
