<% content_for :meta_title, "Installation de climatisation à Fréjus, Saint-Raphaël et alentours" %>
<% content_for :meta_description, "David Clim assure une installation conforme et performante de votre climatisation à Fréjus et ses environs." %>
<%# <% content_for :meta_image, image_url("og-installation.jpg") %>

<%= render "shared/navbar" %>

<div class="container installation climatisation">
    <div class="introduction-section">
        <div class="title-section">
            <h1>Installation de climatisation</h1>
            <p>_______</p>
        </div>
        <div class="text-section">
            <%# <p>DAVID CLIM : Votre Expert en Climatisation à Fréjus, Saint-Raphaël et Environs</p> %>
            <p>David Clim intervient chez vous ou dans votre entreprise à Fréjus, Saint-Raphaël et alentours, pour toute installation de climatisation.</p>
            <p>Une climatisation efficace améliore le confort intérieur et contribue à un air plus sain. Nos techniciens vous accompagnent dans le choix du système adapté à vos besoins spécifiques.</p>
            <p>Nous assurons une pose en <strong>conformité</strong> avec les normes en vigueur et vos exigences.</p>
            <%# <p>DAVID CLIM se déplace chez vous ou dans votre entreprise pour l'installation de climatisation à Fréjus, Saint-Raphaël, et leurs alentours.</p> %>
            <%# <p>L'importance d'une climatisation efficace ne peut être sous-estimée lorsqu'il s'agit de créer un environnement intérieur confortable et sain. Nos techniciens qualifiés sont à votre disposition pour vous guider dans le choix du système de climatisation qui répond le mieux à vos besoins.</p> %>
            <%# <p>Nous garantissons une installation professionnelle, assurant ainsi des performances optimales pour votre équipement, en totale <strong>conformité</strong> avec les <strong>réglementations</strong> en vigueur et vos attentes.</p> %>
        </div>
    </div>
</div>

<div class="installation-list">
    <div class="container installation-list-numbers">
        <p>Notre équipe d'experts en climatisation est formée et certifiée pour prendre en charge tous les aspects de l'installation de votre système de climatisation. Nos services comprennent :</p>
            <div class="services-list">
                <ol>
                    <li><div class="text-inlist"><strong>Évaluation personnalisée :</strong> Nous commençons par comprendre vos besoins spécifiques en matière de climatisation, que ce soit pour une résidence, un commerce ou une industrie.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Sélection du système :</strong> En fonction de vos besoins et de votre budget, nous vous aidons à choisir le système de climatisation le mieux adapté à votre espace.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Installation professionnelle :</strong> Nos techniciens chevronnés installent votre système avec précision, en veillant à ce qu'il fonctionne de manière optimale.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Essais et vérifications :</strong> Nous testons rigoureusement votre système pour nous assurer qu'il fonctionne correctement et efficacement.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Formation et conseils :</strong> Nous vous expliquons le fonctionnement de votre nouveau système de climatisation et vous donnons des conseils pour son entretien afin de maximiser sa durée de vie.</div></li>
                </ol>
            </div>
      </div>
</div>

<div class="container information-choice-text">
    <h1>Souhaitez-vous profiter d'un confort optimal toute l'année ?</h1>
    <p>La climatisation moderne combine confort, économies d’énergie et réduction de l’empreinte carbone.</p>
    <p>Les systèmes d’aujourd’hui sont plus performants que jamais, assurant un excellent contrôle de la température avec un minimum d’impact environnemental.</p>
    <p>Vous maîtrisez la chaleur en été comme le froid en hiver, tout en créant une atmosphère agréable dans chaque pièce.</p>
    <p>Notre équipe vous aide à choisir la solution la plus adaptée à votre logement ou votre entreprise.</p>
    <%# <p>Aujourd'hui, les systèmes de climatisation sont plus efficaces que jamais, garantissant un confort inégalé tout en minimisant votre impact environnemental. Vous pouvez avoir un contrôle précis de la température de votre espace, offrant une atmosphère agréable à chaque saison.</p> %>
    <%# <p>Permettez-nous de vous guider dans le choix du système de climatisation le mieux adapté à votre domicile ou à votre entreprise.</p> %>

</div>

<div class="container choice-list">
  <div class="introduction-choice">
    <div class="choice-list-title">
        <h2>Nos différentes options de climatisation</h2>
        <p>_______</p>
    </div>
    <%# <div class="choice-list-ul">
        <div class="choice-list-1">
            <ul>
                <li><i class="fa-solid fa-angles-down"></i>Climatiseur Murale</li>
                <li><i class="fa-solid fa-angles-down"></i>Climatiseur Cassette</li>
            </ul>
        </div>
        <div class="choice-list-2">
            <ul>
                <li><i class="fa-solid fa-angles-down"></i>Climatiseur Gainable</li>
                <li><i class="fa-solid fa-angles-down"></i>Climatiseur Console</li>
            </ul>
        </div>
    </div> %>
  </div>
</div>

<%# <%= render 'shared/carousel' %>
<%= render 'shared/carousel2' %>
<%# <%= render 'shared/accordion2' %>


<%= render 'shared/btn_footer_contact' %>
<%= render "shared/partners" %>
