<% content_for :meta_title, "Installation de climatisation à Fréjus et Saint-Raphaël | David Clim" %>
<% content_for :meta_description, "Pose de climatisations performantes, conformes aux normes, pour particuliers et professionnels à Fréjus, Saint-Raphaël et alentours. Étude personnalisée et devis rapide." %>
<%# <% content_for :meta_image, image_url("og-installation.jpg") %>

<%= render "shared/navbar" %>

<div class="container installation climatisation">
    <div class="introduction-section">
        <div class="title-section">
            <h1>Installation de climatisation</h1>
            <p>_______</p>
        </div>
        <div class="text-section">
            <%# <p>DAVID CLIM : Votre Expert en Climatisation à Fréjus, Saint-Raphaël et Environs</p> %>
            <%# <p>David Clim intervient chez vous ou dans votre entreprise à Fréjus, Saint-Raphaël et alentours, pour toute installation de climatisation.</p> %>
            <%# <p>Une climatisation efficace améliore le confort intérieur et contribue à un air plus sain. Nos techniciens vous accompagnent dans le choix du système adapté à vos besoins spécifiques.</p> %>
            <%# <p>Nous assurons une pose en <strong>conformité</strong> avec les normes en vigueur et vos exigences.</p> %>
            <p>David Clim intervient à Fréjus, Saint-Raphaël et dans les environs, pour l’installation de climatisation chez les <strong>particuliers</strong> comme les <strong>professionnels</strong>.</p>
            <p>Nos systèmes de climatisation modernes améliorent le confort intérieur, assurent une meilleure qualité de l’air et réduisent la consommation d’énergie.</p>
            <p>Nos techniciens vous conseillent la solution la plus adaptée à vos besoins et assurent une pose <strong>conforme aux normes</strong> en vigueur.</p>
        </div>
    </div>
</div>

<div class="installation-list">
    <div class="container installation-list-numbers">
        <p>Notre équipe d'experts en climatisation est formée et certifiée pour prendre en charge tous les aspects de l'installation de votre système de climatisation. Nos services comprennent :</p>
            <div class="services-list">
                <ol>
                    <li><div class="text-inlist"><strong>Évaluation personnalisée :</strong> Nous commençons par comprendre vos besoins spécifiques en matière de climatisation, que ce soit pour une résidence, un commerce ou une industrie.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Sélection du système :</strong> En fonction de vos besoins et de votre budget, nous vous aidons à choisir le système de climatisation le mieux adapté à votre espace.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Installation professionnelle :</strong> Nos techniciens installent votre système avec précision, en veillant à ce qu'il fonctionne de manière optimale.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Essais et vérifications :</strong> Nous testons rigoureusement votre système pour nous assurer qu'il fonctionne correctement et efficacement.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Formation et conseils :</strong> Nous vous expliquons le fonctionnement de votre nouveau système de climatisation et vous donnons des conseils pour son entretien afin de maximiser sa durée de vie.</div></li>
                </ol>
            </div>
      </div>
</div>

<div class="container information-choice-text">
    <h1>Profitez d’un confort thermique sur mesure</h1>
    <p>Chaque espace a sa solution idéale : mural, gainable, cassette, …</p>
    <p>Découvrez les options de climatisation les plus adaptées à votre intérieur, à vos besoins et à votre budget.</p>
    <p>David Clim vous guide vers un système performant, économe et discret, été comme hiver.</p>
</div>

<div class="container choice-list">
  <div class="introduction-choice">
    <div class="choice-list-title">
        <h2>Nos différentes options de climatisation <i class="fas fa-chevron-down chevron-animate" style="color: #1d4631; margin-left: 12px;"></i></h2>
        <p>_______</p>
    </div>
  </div>
</div>

<%# <%= render 'shared/carousel' %>
<%= render 'shared/carousel2' %>
<%# <%= render 'shared/accordion2' %>


<%= render 'shared/btn_footer_contact' %>
<%= render "shared/partners" %>
