<% content_for :meta_title, "Entretien & maintenance de climatisations à Fréjus | David Clim" %>
<% content_for :meta_description, "Préservez la performance de votre climatisation avec un entretien régulier. Interventions à Fréjus, Saint-Raphaël et dans le Var. Contrats de maintenance sur mesure." %>
<%# <% content_for :meta_image, image_url("og-installation.jpg") %>

<%= render "shared/navbar" %>

<div class="maintenance-banner entretien climatisation">
    <div class="container maintenance" >
        <div class="introduction-section">
            <div class="title-section">
                <h1>Maintenance & Entretien</h1>
                <p>_______</p>
                <h3>David Clim : L'entretien idéal pour votre climatiseur</h3>
            </div>
            <div class="text-section">
                <%# <p>Pour maintenir votre climatisation en excellent état de fonctionnement, un entretien régulier est essentiel. Cela prolonge la durée de vie de votre système, améliore ses performances énergétiques et garantit une qualité d’air intérieur saine.</p> %>
                <%# <p>Il est vivement recommandé de faire entretenir votre climatisation par un <strong>professionnel</strong> au moins <strong>une fois par an</strong>.</p> %>
                <%# <p>À Fréjus / Saint-Raphaël et dans les environs, David Clim propose des services d'entretien de climatiseurs résidentiels comme professionnels.<br>Cela vous permettra non seulement d'éviter une <strong>surconsommation d'électricité</strong>, mais aussi de réduire les risques de <strong>pannes imprévues</strong>.</p> %>
                <%# <p>Découvrez dès maintenant nos <strong>contrats d'entretien</strong> conçus pour répondre à vos besoins.</p> %>
                <%# <p>Un entretien régulier de votre climatisation est essentiel pour garantir son bon fonctionnement, prolonger sa durée de vie et assurer un air intérieur sain.</p> %>
                <p>Un entretien régulier de votre climatisation est essentiel pour <strong>prolonger sa durée de vie, maintenir ses performances</strong> et <strong>assurer un air intérieur sain</strong>.</p>
                <p>À Fréjus / Saint-Raphaël et dans les environs, David Clim propose des services d'entretien de climatiseurs pour particuliers et professionnels.
                <p>Nous vous recommandons de faire vérifier votre installation <strong>au moins une fois par an</strong>, afin d’éviter les pannes imprévues, limiter la <strong>surconsommation électrique</strong> et garantir un fonctionnement optimal.</p>
                <p>Nous vous proposons des <strong>contrats d’entretien personnalisés</strong>, adaptés à vos besoins et à votre budget.</p>
            </div>
        </div>
    </div>
</div>


<div class="nettoyage">
    <%= render 'shared/jet_timeline_list' %>
</div>

<div class="obligation entretien fluide">
  <p>L’entretien annuel de votre climatisation est obligatoire si elle contient plus de 2 kg de fluide HCFC ou plus de 5 tonnes équivalent CO2 de HFC/PFC. Faites appel à un professionnel certifié pour garantir la conformité et prévenir les fuites.</p>
</div>

<div class="cleaning-box" id="nettoyage-climatisation">
    <div class="cleaning-section">
                <%# <%= image_tag "nettoyage-clim-haute-pression.jpeg" %>
        <div class="container-cleaning " >
            <div class="introduction-cleaning">
                <div class="text-cleaning" >
                    <h2>Nettoyage haute pression</h2>
                    <span>_______</span>
                    <p>Optimisez la performance de votre climatisation grâce à notre service de nettoyage haute pression. Notre équipe élimine efficacement les impuretés, garantissant un air frais et sain. <strong>Améliorez l'efficacité énergétique</strong> de votre système, prolongez sa <strong>durée de vie</strong> et respirez un air plus pur. Profitez d'un climat intérieur optimal avec notre service de nettoyage haute pression climatisation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'shared/btn_footer_contact' %>
<%= render "shared/partners" %>
