<% content_for :meta_title, "Contactez David Clim | Votre expert climatisation à Fréjus" %>
<% content_for :meta_description, "Besoin d’un devis, d’un dépannage ou d’un conseil ? Contactez notre équipe à Fréjus pour toute demande en installation ou maintenance de climatisation." %>
<%# <% content_for :meta_image, image_url("og-installation.jpg") %>

<%= render "shared/navbar" %>

<div class="contact climatisation" >
    <div class=" container introduction-section contact-section">
        <div class="title-section">
            <h1>Contact</h1>
            <p>_______</p>
        </div>
    </div>
      <div class="contact-element">
        <div class="contact-text">
                <p>Vous êtes <strong>particulier</strong> ou <strong>professionnel</strong> et vous souhaitez discuter de votre projet de <strong>climatisation</strong> (installation, dépannage, entretien ou nettoyage) ?</p>
                <p>David Clim intervient à <strong>Fréjus</strong>, <strong>Saint-Raphaël</strong> et dans les alentours pour vous accompagner dans tous vos besoins en climatisation.</p>
                <p>Remplissez simplement ce formulaire : nous vous recontacterons rapidement pour vous proposer une solution adaptée à vos besoins et à votre budget.</p>
                <p><strong>Vous pouvez aussi nous joindre directement :</strong></p>
                <p><i class="fa-solid fa-phone" style="color: #2576ce;"></i><span style="padding-left: 14px;"><strong>06 11 96 44 86</strong></span></p>
                <p><i class="fa-solid fa-envelope" style="color: #2576ce;"></i><span style="padding-left: 14px;"><strong>contact@davidclim.fr</strong></span></p>
        </div>

        <div class="contact-form" id="contact-formulaire">
            <%= simple_form_for @contact do |form| %>

            <% flash.each do |type, msg| %>
              <div class="alert alert-info">
                <%= msg %>
              </div>
            <% end %>



                <div class="field">
                    <div class="field_contact1">
                      <div class="field_last_name">
                        <%# <%= form.label :"Nom *" %>
                        <%= form.text_field :last_name, placeholder: 'Nom', id:"contact_last_name" %>
                      </div>

                      <div class="field_email">
                          <%# <%= form.label :"email *" %>
                          <%= form.email_field :email, placeholder: 'Adresse e-mail', id:"contact_email"%>
                      </div>
                    </div>

                    <div class="field_contact2">
                      <div class="field_phone_number">
                          <%# <%= form.label :"Téléphone *" %>
                          <%= form.text_field :phone_number, placeholder: 'N° de téléphone', id:"contact_phone_number" %>
                      </div>

                      <div class="field_city">
                          <%# <%= form.label :"Ville *" %>
                          <%= form.text_field :city, placeholder: 'Ville', id:"contact_city"%>
                      </div>
                    </div>

                    <div class="field_content" >
                        <%# <%= form.label :"Rédigez votre message ici *" %>
                        <%= form.text_area :message, placeholder: 'Rédigez votre message ici', rows: "6", id:"contact_message" %>
                    </div>

                    <div class="hidden d-none">
                        <%= form.label :nickname %>
                        <%= form.text_field :nickname %>
                    </div>

                    <div class="actions flex justify-end">
                        <p><em>Tous les champs sont obligatoires.</em></p>
                        <%=form.submit "Envoyer  → ", class: "btn-contact"%>
                    </div>
                </div>
            <% end %>
        </div>

      </div>

</div>
<%# <script>
  let form = document.getElementById('contact-formulaire')
  form.addEventListener('submit', (e) => {
    e.preventDefault()

    let name = document.getElementById('contact_last_name').value
    let email = document.getElementById('contact_email').value
    let telephone = document.getElementById('contact_phone_number').value
    let ville = document.getElementById('contact_city').value
    let message = document.getElementById('contact_message').value

    let errors = []

    if (name.trim() === ""){
      errors.push("Entrez votre Nom")
    }
    if (email.trim() === ""){
      errors.push("Entrez votre e-mail")
    } else if (!isValidEmail(email)){
      errors.push("Veuillez entrer un email valide")
    }


    if (telephone.trim() === ""){
      errors.push("Entrez votre Téléphone")
    } else if (!isValidPhoneNumber(telephone)){
      errors.push("Veuillez entrer un numéro de téléphone valide")
    }

    if (ville.trim() === ""){
      errors.push("Entrez votre Ville")
    }
    if (message.trim() === ""){
      errors.push("Entrez votre Message")
    }

    if (errors.length > 0) {
      let errorMessage = '';
      errors.forEach((error) => {
          errorMessage += `${error}<br>`; // Ajouter <br> pour les sauts de ligne
      });

      Swal.fire({
          icon: 'error',
          title: 'Veuillez remplir les champs manquants',
          html: errorMessage
      });
      return false;
    }

    Swal.fire({
      icon: 'success',
      title: 'Message envoyé',
      text: "Merci de nous avoir contacté"
    })
  });

  function isValidEmail(email) {
    const emailRegex = /^\S+@\S+\.\S+$/;
    return emailRegex.test(email);
  }

  function isValidPhoneNumber(telephone) {
    const phoneRegex = /^\+?[0-9]{1,15}$/;
    return phoneRegex.test(telephone);
  }
</script> %>
