<div class="contact" >
    <div class="contact-banner">
        <div class="contact-banner-text">
            <h2>DAVID CLIM À FRÉJUS</h2>
            <h2>NOUS SOMMES À VOTRE ÉCOUTE</h2>
        </div>
        <div class="contact-banner-text-line">
            <p>_______</p>
        </div>
        <%# <div class="contact-banner-text required-field-text">
            <p><em>Tous les champs sont obligatoires</em></p>
        </div> %>
    </div>
    <%# <div class="contact-background">
    </div> %>
      <div class="contact-element">
        <div class="contact-text">
            <%# <div class="contact-text-description"> %>
                <h4>CONTACT &</h4>
                <h2>Infos pratiques</h2>
                <%# <p>Que vous soyez un <strong>particulier</strong> ou une <strong>entreprise</strong>, si vous avez un projet en tête (qu'il s'agisse d'une étude, d'un devis, d'une prise de rendez-vous, ou autre), l'équipe de David Clim est là pour vous accompagner. <br>Nous sommes votre partenaire de confiance pour tous vos besoins en <strong>climatisation</strong>, que ce soit pour <strong>l'installation, le dépannage, la maintenance, ou même le nettoyage</strong>, dans la région de Fréjus / Saint-Raphaël et ses environs.</p> %>
                <%# <p>Notre priorité est de vous offrir un <strong>confort thermique optimal</strong> ainsi que des solutions qui favorisent <strong>l'économie d'énergie</strong>.</p> %>
                <p>Vous êtes un <strong>particulier</strong> ou une <strong>entreprise</strong> et vous souhaitez <strong>échanger sur votre projet</strong> (étude, devis, RDV, ou autre…)?</p>
                <p>David Clim vous accompagne pour tous vos projets de climatisation d'<strong>installation</strong>, de <strong>dépannage</strong>, de <strong>maintenance</strong> ou encore de <strong>nettoyage</strong> dans la région de Fréjus / Saint-Raphaël et ses environs.</p>
                <p>Merci de compléter ce formulaire afin que nous puissions répondre avec précision à votre demande et vous recontacter dès prise de connaissance de ces informations.</p>
            <%# </div> %>
            <%# <div class="contact-text-information"> %>
                <p><strong>Vous pouvez aussi nous contacter par téléphone ou par e-mail:</strong></p>
                <p><i class="fa-solid fa-phone" style="color: #2576ce;"></i><span style="padding-left: 14px;">06 11 96 44 86</span></p>
                <p><i class="fa-solid fa-envelope" style="color: #2576ce;"></i><span style="padding-left: 14px;">contact@davidclim.fr</span></p>
            <%# </div> %>
        </div>

        <div class="contact-form" id="contact-formulaire">
            <%= simple_form_for @contact do |form| %>

            <% flash.each do |type, msg| %>
              <div class="alert alert-info">
                <%= msg %>
              </div>
            <% end %>



                <div class="field">
                    <div class="field_contact1">
                      <div class="field_last_name">
                        <%# <%= form.label :"Nom *" %>
                        <%= form.text_field :last_name, placeholder: 'Nom', id:"contact_last_name" %>
                      </div>

                      <div class="field_email">
                          <%# <%= form.label :"email *" %>
                          <%= form.email_field :email, placeholder: 'Adresse e-mail', id:"contact_email"%>
                      </div>
                    </div>

                    <div class="field_contact2">
                      <div class="field_phone_number">
                          <%# <%= form.label :"Téléphone *" %>
                          <%= form.text_field :phone_number, placeholder: 'N° de téléphone', id:"contact_phone_number" %>
                      </div>

                      <div class="field_city">
                          <%# <%= form.label :"Ville *" %>
                          <%= form.text_field :city, placeholder: 'Ville', id:"contact_city"%>
                      </div>
                    </div>

                    <div class="field_content" >
                        <%# <%= form.label :"Rédigez votre message ici *" %>
                        <%= form.text_area :message, placeholder: 'Rédigez votre message ici', rows: "6", id:"contact_message" %>
                    </div>

                    <div class="hidden d-none">
                        <%= form.label :nickname %>
                        <%= form.text_field :nickname %>
                    </div>

                    <div class="actions flex justify-end">
                        <p><em>Tous les champs sont obligatoires.</em></p>
                        <%=form.submit "Envoyer  → ", class: "btn-contact"%>
                    </div>
                </div>
            <% end %>
        </div>

      </div>

</div>
<script>
  let form = document.getElementById('contact-formulaire')
  form.addEventListener('submit', (e) => {
    e.preventDefault()

    let name = document.getElementById('contact_last_name').value
    let email = document.getElementById('contact_email').value
    let telephone = document.getElementById('contact_phone_number').value
    let ville = document.getElementById('contact_city').value
    let message = document.getElementById('contact_message').value

    let errors = []

    if (name.trim() === ""){
      errors.push("Entrez votre Nom")
    }
    if (email.trim() === ""){
      errors.push("Entrez votre e-mail")
    } else if (!isValidEmail(email)){
      errors.push("Veuillez entrer un email valide")
    }


    if (telephone.trim() === ""){
      errors.push("Entrez votre Téléphone")
    } else if (!isValidPhoneNumber(telephone)){
      errors.push("Veuillez entrer un numéro de téléphone valide")
    }

    if (ville.trim() === ""){
      errors.push("Entrez votre Ville")
    }
    if (message.trim() === ""){
      errors.push("Entrez votre Message")
    }

    if (errors.length > 0) {
      let errorMessage = '';
      errors.forEach((error) => {
          errorMessage += `${error}<br>`; // Ajouter <br> pour les sauts de ligne
      });

      Swal.fire({
          icon: 'error',
          title: 'Veuillez remplir les champs manquants',
          html: errorMessage
      });
      return false;
    }

    Swal.fire({
      icon: 'success',
      title: 'Message envoyé',
      text: "Merci de nous avoir contacté"
    })
  });

  function isValidEmail(email) {
    const emailRegex = /^\S+@\S+\.\S+$/;
    return emailRegex.test(email);
  }

  function isValidPhoneNumber(telephone) {
    const phoneRegex = /^\+?[0-9]{1,15}$/;
    return phoneRegex.test(telephone);
  }
</script>
